<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">ACME CORP </a>
    <div class="collapse navbar-collapse" id="blogNav">
        <ul class="list-unstyled list-inline">
            <li class="nav-item active list-inline-item">
                <a class="btn btn-outline-light" role="button" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="nav-item list-inline-item">
                <a class="btn btn-outline-info" role="button" href="{{ url_for('register') }}">Register</a>
            </li>
            <li class="nav-item active list-inline-item">
                <a class="btn btn-outline-light" role="button" href="{{ url_for('login') }}">Login Here</a>
            </li>
            <li class="nav-item list-inline-item">
                <a class="btn btn-outline-info" role="button" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
</nav>